$DarkGray: hsl(0, 0%, 59%);
$VeryDarkGray: hsl(0, 0%, 17%);

.DataBoard {
  @media (max-width: 375px) {
    display: block;
    text-align: center;
    width: 75%;
  }
  z-index: 2;
  background-color: white;
  width: 75%;
  height: 100px;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
  div:nth-child(2) {
    border-left: 1px solid $DarkGray;
    
    padding-left: 25px;
    @media (max-width: 375px) {
      border-left: none;
    }
  }
  div:nth-child(3) {
    border-left: 1px solid $DarkGray;
    
    padding-left: 25px;
    
    @media (max-width: 375px) {
      border-left: none;
    }
  }
  div:nth-child(4) {
    border-left: 1px solid $DarkGray;
    
    padding-left: 25px;
    
    @media (max-width: 375px) {
      border-left: none;
    }
  }
  div {
    @media (max-width: 375px) {
   
      margin: 10px;
    }
    margin: 15px 30px 30px 15px;
    p {
      font-size: 15px;
      color: $DarkGray;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      font-size: 18px;
      font-weight: 900;
      color: $VeryDarkGray;
    }
  }
}
